@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #59636e;
}

header {
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d9e0;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #d1d9e0;
}

.search__input {
    width: 100%; 
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-style:solid;
    border-color: #d1d9e0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.search__input:focus {
    outline-color: #0969da;
}

.repo {
    width: 100%;
    max-width: 800px;
}

.repo__list {
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.repo__item {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d1d9e0;
    width: 100%;
    box-sizing: border-box;
}

.repo__link {
    font-size: 20px;
    font-weight: bold;
    color: #0969da;
    text-decoration: none;
}

.repo__link:hover {
    text-decoration: underline;
}

.repo__description {
    font-size: 16px;
}

.repo__programming-language,
.repo__date {
    font-size: 14px;
    color: #57606a;
    margin-right: 10px;
}


